<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>

<!--Google Analytics Data -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143539370-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143539370-1');
</script>

<!--End of Google Analytics Data -->

    {% include header-default-meta.html %}

    {% if page.layout == 'post' %}
        {% for author in page.authors %}
            {% capture authors %}{{ authors | default: ' -' }} {{author.first_name}} {{author.last_name}}{% endcapture %}
            {% if forloop.last != true %}
                {% if forloop.rindex0 == 1 %}
                     {% capture authors %}{{ authors }} and{% endcapture %}
                {% else %}
                    {% capture authors %}{{ authors }},{% endcapture %}
                {% endif %}
            {% endif%}
        {% endfor %}
    {% endif %}

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}{% if authors %}{{ authors }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:image" content="{% if page.imagesocial %}https://digitalave.gitlab.io/{{ page.imagesocial }}{% else %}{% if page.image %}https://digitalave.gitlab.io/{{ page.image }}{% else %}https://digitalave.gitlab.io/img/jworks/jworks-400x400.png{% endif %}{% endif %}"/>

    <!-- Facebook Open Graph -->
    <meta property="og:url" content="https://digitalave.gitlab.io/{{ page.url }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ page.title }}{% if authors %}{{ authors }}{% endif %}"/>
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.title }}{% endif %}"/>
    <meta property="og:image" content="{% if page.imagesocial %}https://digitalave.gitlab.io/{{ page.imagesocial }}{% else %}{% if page.image %}https://digitalave.gitlab.io/{{ page.image }}{% else %}https://digitalave.gitlab.io/img/jworks/jworks-1200x630.png{% endif %}{% endif %}"/>

    {% if page.layout == 'post' %}
    <title>{{ page.title }}{% if authors %}{{ authors }}{% endif %} &mdash; {{ site.title }}</title>
    {% else %}
        {% if page.url == '/' %}
        <title>{{ site.title }}</title>
        {% else %}
        <title>{{ page.title }} &mdash; {{ site.title }}</title>
        {% endif %}
    {% endif %}

    {% include header-styles-scripts.html %}
<!-- Google Analytic Data -->
{% if site.google_analytics and jekyll.environment == 'production' %}
{% include analytics.html %}
{% endif %}
<!-- End of Google Analytic Data -->

<!-- Google Site Verification Data -->
<meta name="google-site-verification" content="qKIepgVfzSjcseO976kK4sD1NfV8NUlc3eYal6GV0Fo">
<!-- End of Google Site Verification Data -->

<!-- Page Wrapper -->
</head>

<body>
<div id="header-image"></div>


<!-- Page Wrapper -->
<div id="page-wrapper">

    {% include header-navigation-banner.html %}

    <section id="wrapper">
        <div class="inner">
            {{content}}
        </div>
    </section>
</div>

{% if page.layout != 'post' %}
<div id="over"></div>
{% endif %}

{% include footer.html %}
{% include footer-scripts.html %}

</body>
</html>
