// Misc.
$misc: (
        z-index-base: 10000,
        max-wrapper-styles: 6
);

// Duration.
$duration: (
        menu: 0.35s,
        transition: 0.2s
);

// Size.
$size: (
        border-radius: 5px,
        element-height: 2.75em,
        element-margin: 2em,
        inner: 55em,
        section-spacing: (
                large: 3em,
                medium: 2em,
                small: 1.75em
        ),
        wrapper-edges: (
                large: 5.5em,
                medium: 3.75em,
                small: 2.5em
        )
);

// Font.
$font: (
        family: ('Source Sans Pro', Helvetica, sans-serif),
        family-fixed: ('Courier New', monospace),
        family-heading: ('Futura Md BT', Helvetica, sans-serif),
        weight: 300,
        weight-bold: 600,
        weight-heading: 200,
        weight-heading-bold: 700,
        kern-heading: 0.1em
);

// Palette.
$palette: (
        //bg: #fdfffc,
        bg: #e7904b,
        bg-header:#464646,
        bg-menu:#928f8c,
        bg-post: #fff,
        bg-spotlight:#055259,
        //bg-spotlight:#e7904b,
        bg-section2:#f7d1a7,
        bg-section3:#e7904b,
        fg: #000000,
        fg-bold: #011424,
        fg-light: rgba(24, 43, 58, 0.35),
        fg-header:#fff,
        //fg-header-light:#bdb9b6,
        //fg-header-light:#464646,
        fg-header-light:#fff,
        border: rgba(255, 159, 28, 0.25),
        border-bg: rgba(255, 159, 28, 0.05),
        border2: rgba(255, 159, 28, 0.25),
        border2-bg: rgba(255, 159, 28, 0.15),
        border-title:#f7d1a7,
        accent: #f7d1a7,
        ordina: rgba(255, 228, 193, 1.0),
        
        light_orange: #f7d1a7,
        orange: #e7904b,
        dark_orange: #055259,
        light_grey: #928f8c,
        grey: #635f5a,
        dark_grey: #464646,
        white: #fff
);
